* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 100vh; */
}

h1 {
  margin-bottom: 5px;
}

.hr-line {
  margin-bottom: 10px;
}

.joke {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 4px 4px 8px rgba(64, 64, 64, 0.43);
  background-color: aliceblue;

}
.joke > p {
  line-height: 0.5;
}

.joke .setup {
  font-weight: bold;
}

.votes {
  display: flex;
  justify-content: right;
  gap: 10px;
  font-size: small;
  font-weight: 600;
}

.upvotes,
.downvotes {
  border-radius: 10px;
  padding: 0 10px;
}

.upvotes {
  background-color: rgba(172, 255, 47, 0.59);
  border: 1px solid greenyellow;
}

.downvotes {
  background-color: rgba(255, 0, 0, 0.323);
  border: 1px solid red;
}

.comment-section {
  margin-bottom: 15px;
}
.individual-comment {
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgb(137, 137, 137);
  padding: 5px 10px;
  font-size: 0.8rem;
  font-weight: 300;
  margin-right: 5px;
}
