* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin-bottom: 5px;
}

.hr-line {
  margin-bottom: 10px;
}

.joke {
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 4px 4px 8px rgba(64, 64, 64, 0.43);
  background-color: aliceblue;
}
.joke > p {
  line-height: 0.5;
}

.joke .setup {
  font-weight: bold;
}
