html,
body {
  margin: 0;
  font-family: Inter, "Arial Narrow Bold", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #2b283a;
  box-sizing: border-box;
}

.app {
  width: 550px;
  height: 704px;
  background-color: white;
  margin-top: 20px;
}

header {
  height: 55px;
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 45px;
}

header > h1 {
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
}

.entry {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 36px 40px;
  font-family: Inter, sans-serif;
  width: 470px;
  height: 168px;
  font-size: 10.24px;
  color: #2b283a;
}

.entry > img {
  width: 125px;
  height: 168px;
  margin-right: 19px;
  border-radius: 5px;
}

.entry > article {
  display: flex;
  flex-direction: column;
}

.entry > article > div {
  margin-bottom: 7px;
}

.entry > article > div > img {
  margin-right: 4px;
}

.country-name {
  margin-right: 12px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.google-map-link {
  color: #2b283a;
  text-decoration: underline;
}

.google-map-link:visited {
  color: #918e9b;
}

.entry > article > h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 17px;
}

.entry > article > span {
  font-weight: bold;
  margin-bottom: 9px;
}

.entry > article > p {
  margin: 0;
}
