html,
body {
  margin: 0;
  font-family: Inter, "Arial Narrow Bold", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2b283a;
  box-sizing: border-box;
}

.app {
  width: 550px;
  height: 704px;
  background-color: white;
}

header {
  height: 55px;
  background-color: #f55a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 45px;
}

header > h1 {
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
}

.place-card {
  height: 168px;
  display: flex;
  color: black;
  background-color: white;
  margin: 0 40px 36px;
  font-size: 10.24;
  width: 470px;
  justify-content: center;
  align-items: center;
}

.place-card > img {
  max-width: 125px;
  max-height: 168px;
  /* background-color: rgba(70, 70, 255, 0.509); */
  border-radius: 5px;
  margin-right: 19px;
}

.place-heading {
  font-size: 10.24px;
}

.place-heading img {
  margin-right: 4px;
}

.place-heading span {
  word-spacing: 1px;
  margin-right: 12px;
}

.place-heading a {
  color: #918e9b;
}

.place-details {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.place-details h1 {
  margin: 7px 0 0;
  font-size: 25px;
  font-weight: blod;
  color: #2b283a;
}

.place-about {
  font-size: 10.24px;
}

.travel-date {
  color: #2b283a;
  font-weight: bold;
}

.place-about p {
  margin-top: 9px;
}
