.entry {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 45px 0 36px 40px;
  font-family: Inter, sans-serif;
  width: 470px;
  height: 168px;
  font-size: 10.24px;
  color: #2b283a;
}

.entry > img {
  width: 125px;
  height: 168px;
  margin-right: 19px;
  border-radius: 5px;
}

.entry > article {
  display: flex;
  flex-direction: column;
}

.entry > article > div {
  margin-bottom: 7px;
}

.entry > article > div > img {
  margin-right: 4px;
}

.entry > article > div > span {
  margin-right: 12px;
}

.entry > article > div > a {
  color: #918e9b;
  text-decoration: underline;
}

.entry > article > h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0 0 17px;
}

.entry > article > span {
  font-weight: bold;
  margin-bottom: 9px;
}

.entry > article > p {
  margin: 0;
}
